:root {
    --dark: #497dff;
    --light: #6849ff;
    --gradient: linear-gradient(to right, #497dff, #6849ff);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

*::selection {
    background-color: #594aff;
    color: white;
}

#frontpage-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    z-index: -1;
}

.topbar {
    background-image: linear-gradient(to right, #497dff, #6849ff);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 0 0.5rem;
}

.topbar img {
    margin: 10px;
    margin-right: 0;
    height: 48px;
}

.topbar > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.topbar h1 {
    margin: 0;
    padding: 10px 10px;
    padding-top: calc(10px + 0.5ch);
    margin-right: 1rem;
    cursor: pointer;
}

.topbar button {
    height: 60px;
    padding: 10px;
    font-size: 1rem;
    background: unset;
    color: white;
    transition-duration: 0.2s;
}

.topbar button:hover, .topbar button:focus, .topbar h1:hover, .topbar h1:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.topbar button:active, .topbar h1:active {
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    max-width: 1000px;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

footer {
    color: black;
    text-align: center;
    padding: 20px;
}

#trustpilot {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

button {
    cursor: pointer;
    border: none;
    padding: 3px;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
}

.link {
    color: rgb(0, 74, 233);
    text-decoration: underline;
    cursor: pointer;
}

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-container input {
    font-size: 16px;
    margin: 10px;
    width: 300px;
    height: 50px;
    padding: 10px;
}

.auth-container input:focus {
    outline: none;
    border: 3px solid #594aff
}

.error-text {
    margin: 0;
    color: #F00;
}

.index {
    text-align: center;
    padding: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 3px black;
}

.index h1 {
    font-size: 8rem;
    animation-name: slide;
    animation-duration: 1s;
}

.index h3 {
    font-size: 1.5rem;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.customer-tickets-container {
    margin: 20px;
    text-align: center;
}

.table th {
    position: relative;
    padding: 0.2rem 1rem;
}

.table th::after {
    display: block;
    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background: var(--gradient);
}

.table td {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.table tr {
    transition: 200ms background-color;
}

.table tr:hover {
    cursor: pointer;
    background-color: #fcfcfc;
}

.table tr:active {
    background-color: #f0f0f0;
}

button.brand-button {
    margin: 10px;
    min-width: 100px;
    padding: 0 10px;
    height: 30px;
    color: white;
    font-size: 16px;
    background-image: linear-gradient(to right, #497dff, #6849ff);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) ;
    transition-duration: 0.2s;
}

button.brand-button:hover, button.brand-button:focus {
    filter: brightness(1.3);
    outline: none;
}

button.brand-button:active {
    filter: brightness(0.7);
}

.knowledge-title {
    
}