
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Arial", sans-serif
}

.topbar {
    background-color: #594aff;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4)
}

.topbar > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.topbar h1 {
    margin: 0;
    margin-right: 1rem
}

.topbar button {
    font-size: 1rem;
    background: unset;
    color: white;
}

.topbar div.text-buttons button {
    padding: 5px;
    border: 1px solid #00000000;
    border-radius: 5px;
}

.topbar div.text-buttons button:hover {
    border: 1px solid white;
}

.topbar div.text-buttons button:active {
    background: white;
    color: #594aff;
}


main {
    max-width: 1000px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

footer {
    box-shadow: 0 0px 4px rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    color: #666;
}

button {
    cursor: pointer;
    border: none;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.link {
    color: rgb(0, 74, 233);
    text-decoration: underline;
    cursor: pointer;
}

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-container input {
    font-size: 16px;
    margin: 10px;
    width: 300px;
    height: 50px;
    padding: 10px;
}

.auth-container input:focus {
    outline: none;
    border: 3px solid #594aff
}

.auth-container button {
    margin: 10px;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 16px;
    background-color: #594aff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) ;
}

.error-text {
    margin: 0;
    color: #F00;
}

.index {
    text-align: center;
}

.index h1 {
    font-size: 4rem;
}

.index h2 {
    /* font-size: 2rem; */
}

