
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Arial", sans-serif
}

.topbar {
    /* background-color: #333;
    color: #eee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4)
}

.topbar > div {
    background-color: #594aff;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.topbar h1 {
    margin: 0;
    margin-right: 1rem
}

.topbar button {
    font-size: 1rem;
}

main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
    border: none;
}

#ticket-row {
    display: flex;
    flex-direction: row;
}

#ticket-row div {
    padding: 8px;
}
